<div class="bag fixed">
  <h1 style="margin-bottom: 0;">GitHub contributions calendar as an Angular Component!</h1><br>

  <app-github-calendar></app-github-calendar>

  <br>
  <h1>Usage guide:</h1>
  <!-- <p> </p> -->
  <h3>Now that you have successfully run this project let me help you add this component into your Angular project! 🎉</h3>
  <h3>Step 1</h3>Copy paste the <b>github-calendar component from </b> <mark>/src/github-calendar</mark> folder to the <mark>/src/app</mark> directory of your project<br><br>
  <h3>Step 2</h3>Copy paste the <b>github-calendar asset from </b> <mark>/src/assets/github-calendar</mark> folder to the default <mark>/src/assets</mark> directory of your project<br><br>
  <h3>Step 3</h3>Add <b>GithubCalendarComponent</b> to declarations into app.module.ts<br><br>
  <div class="code-snippet-1"><img src="../assets/img/app.module.ts.png" style="width: 100%;"></div><br>
  <h3>Step 4</h3>Add <b>&lt;app-github-calendar&gt;</b> component tag in any component you want!<br><br>
  <div class="code-snippet-2"><img src="../assets/img/any-component.html-highlighted.png" style="width: 100%;"></div><br>
  <h3>Step 5</h3>To display the stats of <b>any user</b> you want, add their username in the main.js file<br><br>
  <div class="code-snippet-3"><img src="../assets/img/main.js.png" style="width: 100%;"></div><br>
</div>
